.general-button:hover {
    -fx-background-color: #6d117c;
}

.general-button-white:hover {
    -fx-background-color: #6d117c;
}

.general-button-rounded:hover {
    -fx-background-color: #6d117c;
}

.general-list:focused .list-cell:filled:focused:selected {
    -fx-font-size: 17;
    -fx-background-color: #6d117c;
}

.check-box:selected .box {
    -fx-background-color: #6d117c;
}

.check-box:selected .mark {
    -fx-background-color: #6d117c;
}